# SERVER STATUS
# development | production
NODE_ENV=development

# MONGODB
MONGODB_URI=

# EXPRESS APP
PORT=3000
TOKEN=

# ERC CONTENT API
ERC_CONTENT_API_USERNAME=
ERC_CONTENT_API_PASSWORD=

# ERC CONNECT SERVICE API
ERC_CONNECT_SERVICE_API_USERNAME=
ERC_CONNECT_SERVICE_API_PASSWORD=

# YUGCONTRACT API
YUGCONTRACT_API_USER_KEY=
YUGCONTRACT_API_SECRET=

# SALESDRIVE FORM (API) KEY
SALESDRIVE_FORM_KEY=
